.env
.DS_Store
node_modules/
.build/
.serverless/
.xcode-derived-data/
*.xcuserstate
xcuserdata/
ios/**/.DS_Store
ios/RoutineApp/Config/Local.xcconfig
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
